*{
    padding: 0;
    margin: 0;
}

body{
    background-color: gainsboro;
}

.App{
    margin: 10px;
    width: 100vw;
}

.box{
    border: 1px solid rgb(192, 16, 16);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 10px;
}

.boxAbilities{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    border-radius: 10px;
}

.statsBox{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    border-radius: 10px;
}