*{
    padding: 0;
    margin: 0;
}

body{
    background-color: gainsboro;
}

.App{
    margin: 10px;
    width: 100vw;
}

.box{
    border: 1px solid rgb(192, 16, 16);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 10px;
}

.cardPokemon:hover{
    z-index: 100;
    box-shadow: 0px 0px 0px 1px 10px;
    border: 1px solid black;
    cursor: pointer;
    transition: 500ms;
    transform: scale(1.1);
}

.cardPokemon::before{
    transition: 500ms;
    transform: scale(1);
}

.boxAbilities{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    border-radius: 10px;
}

.statsBox{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    border-radius: 10px;
}